<div id="version" class="name" style="position:absolute;right:0px; width:auto; height:auto; padding:4px; background:red;font-size:10px;color:#fff;">
    v 0.0.1
</div>
<header>
<div class="container">
         <div role="navigation" class="navbar navbar-top navbar-default">
             <div class="container-fluid">
                 <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon=bar"></span>
                    </button>
                    <a class="navbar-brand"  href="#/dc-home"><img src="images/dc_logo.png"></a>
                </div>
         
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">DoubleClick Tech Links</a></li>
                        <li><a href="#/ad-types">DoubleClick Ad Types</a></li>
                        <li><a href="#/cheat-sheet">DoubleClick Cheat Sheet</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Essential Links<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">TSS Related</li>
                                <li class="divider"></li>
                                <li><a href="https://cases.corp.google.com/Client.html" target="_blank">G Cases</a></li>
                                <li><a href="https://docs.google.com/a/google.com/spreadsheet/ccc?key=0ApEJ63WkxYJIdEpzSEVGaHYwM2t0cl9walVSYVRzX0E&disco=AAAAAGBDvxI&pli=1#gid=31" target="_blank">G Cases Task</a></li>
                                <li><a href="https://ddm.google.com/dfa/trafficking/#/superuser" target="_blank">DCM Super User</a></li>
                                <li><a href="http://advertisers.doubleclick.net/app_pages/impersonate.aspx?userid=" target="_blank">DFA Super User</a></li>
                                <li><a href="https://dcrm-is-filemover.googleplex.com/" target="_blank">Filemover</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">DC  Related</li>
                                <li class="divider"></li>
                                <li><a href="http://www.google.com/doubleclick/studio/" target="_blank">Studio</a></li>
                                <li><a href="http://www.richmediagallery.com/resources/library/#libCst%7C" target="_blank">Case Studies Library</a></li>
                                <li><a href="http://www.richmediagallery.com/resources/layouts/" target="_blank">Layouts</a></li>
                                <li><a href="http://advertisers.doubleclick.net/" target="_blank">DFA Super User</a></li>
                                <li><a href="https://ddm.google.com/dfa/trafficking/#/superuser" target="_blank">DFA Trafficking</a></li> 
                                <li><a href="https://betaadvertisers.doubleclick.net/richmediafileuploadtool/" target="_blank">Rich Media File Upload Tool</a></li>
                                <li><a href="https://cases.corp.google.com/AwConsult.html" target="_blank">Cases Consult</a></li>

                                <li class="divider"></li>
                                <li class="dropdown-header">Common QA Rejections</li>
                                <li class="divider"></li>
                                <li><a href="https://support.google.com/richmedia/answer/4411733?hl=en&ref_topic=2565947" target="_blank">YoutTube masthead QA rejections</a></li>
                                <li><a href="http://www.google.com/doubleclick/studio/#Advertiser:advertiserId=26748953" target="_blank">Training Campaigns</a></li>
                              
                            </ul>    
                        </li>
                    </ul>
                    
                </div>
            </div>
         </div>
 </div>
</header>


<div class="container" ui-view>
    
</div>

