<div class="col-md-12">
    <h1 id="section_heading">Help Center</h1>
    <ul>
        <li><a href="https://support.google.com/richmedia/answer/183438?hl=en" target="_blank">QA Common Rejection Page</a></li>
        <li><a href="https://support.google.com/richmedia/answer/165130?hl=en" target="_blank">Developer Best Practices</a></li>
        <li><a href="http://go/is" target="_blank">Innovation Service</a></li>
        <li><a href="https://support.google.com/richmedia/topic/3294487?hl=en&ref_topic=21793" target="_blank">Layout Build Guide</a></li>
        <li><a href="https://support.google.com/richmedia/answer/2533501?hl=en" target="_blank">Rich Media API handbook</a></li>
        <li><a href="http://www.richmediagallery.com/template-database" target="_blank">DC Template Database</a></li>
        <li><a href="https://sites.google.com/a/google.com/google-rich-media-support-process-documents/technical-support/tss-process-workflow" target="_blank">TSS Workflow</a></li>
        <li><a href="https://docs.google.com/a/google.com/forms/d/13BF9EJxRZbmm1-8Efpf2sSrqIdYf9Si4tjAUCXG3VXM/viewform" target="_blank">TSS Time Tracker</a></li>
    </ul>

 <h3 id="section_heading">Login</h3>
    <ul>
        <li><a href="https://docs.google.com/a/google.com/spreadsheet/ccc?key=0At0z5RcaiKEJdHVOMWp4Sld6UEFpWWM1TktiV1FRYkE#gid=0" target="_blank">New Studio Accounts Spreadsheet</a></li>
        <li><a href="https://docs.google.com/a/google.com/document/d/1dL35yQI6oL_Wj7HOJ1WczpPGXHftJeRk1dD7kdV_aIc/edit" target="_blank">New Account canned response</a></li>
        <li><a href="https://docs.google.com/a/google.com/spreadsheet/ccc?key=0AqUP5WAvfO1LdDQxTGl3R1pNQ29KTUpfZ255YTIwNEE&usp=sharing#gid=55" target="_blank">GCase Task Spreadsheet</a></li>
        <li><a href="https://docs.google.com/a/google.com/document/d/1aFvvByz8pwWJgzZBkDwX0XxSVLpGbtawJjH4-Ci9pq4/edit" target="_blank">Login process workflow</a></li>
    <li><a href="http://static.openvideoads.org/tag-validator/jwplayer.html" target="_blank">VAST/VPAID Tag Validator</a></li>
    </ul>

    <h3>Studio Certification</h3>
    <ul>
    <li><a href="https://docs.google.com/a/google.com/spreadsheet/ccc?key=0Au4wizfRZAfVdFE5TGRjdXlvSTR2bEgtSElhemNhbGc&usp=drive_web#gid=28" target="_blank">Certified Users & Waiting List</a></li>
    <li><a href="https://docs.google.com/a/google.com/presentation/d/1CJIU177MEW9dAgBy7_YR1gBU4e5KnylTlijWQ_Q6z1k/edit#slide=id.gd99d6ba7_012" target="_blank">Process</a></li>
 </ul>

 <h3>Chat</h3>
 <ul>
     <li><a href="https://docs.google.com/a/google.com/spreadsheets/d/18R2-Ovl27eRS1bxioUQsYiE9JN8LGfEEJZE0U0fEhJ8/edit#gid=0" target="_blank">Canned Response</a></li>
 </ul>

</div>


